/*-- scss:rules --*/

.quarto-dashboard #quarto-dashboard-header .navbar .navbar-title a {
    font-weight: bold;
}

/* .quarto-dashboard .card-header .card-title { 
    font-weight: bold;
} */

h3 {
    font-size: 98%;
}

h4, h5, h6, body, span {
    font-size: 85%;
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    width: 100px;
    box-sizing: content-box;
}

.callout.callout-style-default>div.callout-header {
    flex-direction: row;
}

.callout.callout-style-default div.callout-icon-container {
    flex: 0 0 auto;
}

.quarto-dashboard .card .card-toolbar .shiny-input-container {
    flex-direction: row;
}

.bslib-value-box.showcase-left-center:not([data-fill-screen="true"]) .value-box-grid .value-box-area {
    margin-block: initial;
}